.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: rgb(37, 37, 37);
    height: calc(100vh - 75px);
    overflow: auto;
}

.Layout {
    background-color: red;
}